port=":8080"
port_product=":9091"
app_env=":8200"
debug=true
address=":8001"

domain="https://domain.com/reseller"
db_host="localhost"
db_port="3306"
db_user="root"
db_pass="root"
db_name="reseller"
migration="1"