port=":8080"
port_product=":9091"
app_env=":8200"
address=":8001"

domain="https://domain.com/reseller"
db_host="localhost"
db_port="3306"
db_user="root"
db_pass="root"
db_name="reseller"
migration="1"

# Use Debug For Save Logs
debug=false
# If You Didn't use Path, The Log Will Be Save In Temporary OS
# path_logs="D:/Document/GitHub/Reseller"